{{#if loading}}
<div class="loading">
  <div class="spinner">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
{{/if}}

<div class="form" style="margin-bottom:8pt">
  {{create-pid-component onFileLoad=(action 'onFileLoad' 'jsonObject')}}
</div>
