<div class="form" style="margin-bottom:8pt">
  <div class = "form-line">P&amp;ID Shapes Library: {{json-load-component
    id=(concat 'json-load-' elementId)
    typeAccept = '.json'
    onLoadSuccess=(action 'loadSuccess' 'pidShapesLibraryObject')
    onLoadError=(action 'loadError')}}
  </div>
  <!-- EVENTUALLY DELETE AND FETCH INSTANCES FROM DATABASE: -->
  <div class = "form-line">P&amp;ID Instances:{{json-load-component
    id=(concat 'json-load-' elementId)
    typeAccept = '.json'
    onLoadSuccess=(action 'loadSuccess' 'pidInstancesObject')
    onLoadError=(action 'loadError')}}
  </div>
  <br />
  <div class="button button-success" style="margin-bottom:8pt;width:100%" onClick={{action 'generatePidXml' id=(concat 'btn-generate-pid-xml-' elementId)}}>
    <span class="icon-upload-cloud button-text"> Generate P&amp;ID Visualization</span>
  </div>
  <br />
  <div class="button button-success" style="margin-bottom:8pt;width:100%" onClick={{action 'download' id=(concat 'btn-download-' elementId)}}>
    <span class="icon-download button-text"> Download P&amp;ID Visualization</span>
  </div>
</div>
