<div class="form" style="margin-bottom:8pt">
    <div class = "form-line">UML-Modell einlesen: {{xml-load-component
        id=(concat 'uml-load-' elementId)
        typeAccept = '.uml'
        onLoadSuccess=(action 'loadSuccess' 'modelObject')
        onLoadError=(action 'loadError')}}
    </div>
    <div class = "form-line">Transformationsscript einlesen:{{xml-load-component
        id=(concat 'xsl-load-' elementId)
        typeAccept = '.xsl'
        onLoadSuccess=(action 'loadSuccess' 'styleObject')
        onLoadError=(action 'loadError')}}
    </div>
    <div class="button button-success" style="margin-bottom:8pt;width:100%" onClick={{action 'startTransformation' id=(concat 'btn-start-trafo-' elementId)}}>
        <span class="icon-upload button-text">Modell einlesen</span>
    </div>
</div>
