    {{#if loading}}
    <div class="loading">
        <div class="spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    {{/if}}
 
<div class="form" style="margin-bottom:8pt">
    {{xml-json-transform-component onModelLoad=(action 'onModelLoad' 'jsonObject')}}
    <div style='margin-bottom:8pt'>Gateway auswählen:
    {{form-dropdown-component name='dropdownGateways' parameterType='Model' model='p_modules' fields='id,name' valueAttr='id' textAttr='name'}}
    </div>
    {{model-parse-component model=jsonObject}}
</div>