<div class="form" style="margin-bottom:8pt">
  <div id="pid-shape-library" class = "form-line">
    <span style=“font-weight:bold;”>P&amp;ID Shapes Library:</span>
    {{json-load-component
    id=(concat 'json-load-' elementId)
    typeAccept = '.json'
    onLoadSuccess=(action 'loadSuccess' 'pidShapesLibrary')
    onLoadError=(action 'loadError')}}
  </div>
  
  <div class="form-line">
    <label>Selected Root Node Id:</label>
    <div id="selection-field" class="input-with-icon">
        <input id="root-node-selection" type="text" placeholder="Select a root node id."/><span id="input-icon" class="icon-flow-tree"></span>
    </div>
  </div>

  <br />

  <div id="generate-pid-button" class="button button-success disabled" style="margin-bottom:8pt;width:100%">
    <span class="icon-export button-text"> Generate P&amp;ID Visualization</span>
  </div>
  {{#if showProgressBar}}{{progress-bar current=currentProgressValue max=maxProgressValue}}{{/if}}
  
  <br />

  <div id="xml-viewer-div" style="margin-bottom:8pt;width:100%;height:230px;float:right;overflow:scroll;font-family: sans-serif;">
  </div>

  <br />

  <div style="width:100%;margin:0 auto;text-align:center">
    <div id="download-json-button" class="button disabled" style="width:49.5%;display:inline-block;">
      <span class="icon-download button-text"> Download P&amp;ID as JSON</span>
    </div>
      <div id="download-xml-button" class="button disabled" style="width:49.5%;display:inline-block;">
      <span class="icon-download button-text"> Download P&amp;ID as XML</span>
    </div>
  </div>

  <div id="upload-pid-button" class="button button-success disabled" style="margin-bottom:8pt;width:100%">
    <span class="icon-upload button-text"> Upload P&amp;ID Visualization</span>
  </div>

</div>
