<div class="form" style="margin-bottom:8pt">
    <div class = "form-line">Choose model from file: {{xml-load-component
        id=(concat 'uml-load-' elementId)
        typeAccept = '.uml'
        onLoadSuccess=(action 'loadSuccess' 'modelObject')
        onLoadError=(action 'loadError' 'modelObject')}}
    </div>
    <div class = "form-line">Choose stylesheet from file: {{xml-load-component
        id=(concat 'xsl-load-' elementId)
        typeAccept = '.xsl'
        onLoadSuccess=(action 'loadSuccess' 'styleObject')
        onLoadError=(action 'loadError' 'styleObject')}}
    </div>
</div>
