<div class="form" style="margin-bottom:8pt">
  <div id="pid-shape-library" class = "form-line">P&amp;ID Shapes Library: {{json-load-component
    id=(concat 'json-load-' elementId)
    typeAccept = '.json'
    onLoadSuccess=(action 'loadSuccess' 'pidShapesLibraryObject')
    onLoadError=(action 'loadError')}}
  </div>
  <br />
  <div id="generate-pid-button" class="button button-success disabled" style="margin-bottom:8pt;width:100%" onClick={{action 'generatePidXml' id=(concat 'btn-generate-pid-xml-' elementId)}}>
    <span class="icon-doc button-text"> Generate P&amp;ID Visualization</span>
  </div>
    <br />
  <div id="xml-viewer" style="margin-bottom:8pt;width:100%;height:200px;float:right;overflow:scroll;font-family: sans-serif;">
  </div>
  <br />
  <div id="download-pid-button" class="button button-success disabled" style="margin-bottom:8pt;width:100%" onClick={{action 'uploadPidXml' id=(concat 'btn-download-' elementId)}}>
    <span class="icon-upload-cloud button-text"> Download P&amp;ID Visualization</span>
  </div>
</div>
