html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

div {
    width: 98%;
    padding: 10px;
}

header {
    padding: 10px;
    color: #00796b;
    font-family: 'Enriqueta', serif;
}

input:hover {
    font-weight: bold;
}

button {
    border: none;
    color: white;
    background-color: #00796b;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

button.disabled {
    color: #88959c;
}

button.enabled {
    color: white;
}

#generate-pid-button {
    float: right;
    margin: 15px;
}

#download-json-button {
    background-color: #4c5b63;
    float: left;
}

#download-xml-button {
    display: block;
    float: right;
}

#total-counter {
    padding-right: 30px;
    display: block;
    float: right;
    color: #37474f;
}

#xml-container-header {
    color: #37474f;
}

#xml-container-div {
    height: 430px;
    overflow: scroll;
    border: 1px solid #ccc;
    font-family: sans-serif;
    font-size: 10pt;
}